body {
    background-color: black;
}


.flex-container {
  display: -webkit-flex;
  display: flex;
  width: 40%;
  height: 40%;
  background-image: url('patterns.gif');
  background-position: center;
  margin: 15% auto auto auto;
  flex-direction: column;
  text-align: center;
}

.flex-item {
  background-color: black;
  opacity: 0.85;
  width: 60%;
  height: 40%;
  margin: 5% auto 5% auto;
  color: white;
  font-weight: bold;
  font-size: 1.5em;
}

#generator {
  background-color: black;
  border-width: 1px;
  border-color: black;
  border-radius: 0%;
  text-align: center;
  display: inline-block;
  font-size: 2em;
}

.footer {
  width: 450px;
  text-align: center;
  display: block;
  margin: 3% auto 10% auto;
  font-size: 0.8em;
  color: #fff;
}
