body {
    background-color: black;
}


.flex-container {
    display: -webkit-flex;
    display: flex;
    width: 600px;
    height: 350px;
    background-image: url('giphy.gif');
    background-position: center;
    margin: auto;
    margin-top: 125px;
    flex-direction: column;
    text-align: center;
}

.flex-item {
    background-color: black;
    font-color: white;
    width: 600px;
    height: 125px;
    margin: auto;
    margin-bottom: 110px;
}

.h1{
    color: white;
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    align: center
}
